body {
    background-color: #eceff1;
}

/* header styles start*/
.resume ul {
    padding-left: 20px;
}

.resume li {
    font-size: 16px;
    color: #455a64;
    display: list-item;
    list-style-type: circle;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

.resume-header {
    margin-left: 30px;
    margin-right: 20px;
    height: 180px;
}

.resume-header * {
    display: inline-block;
    vertical-align: top;
}

.basic-info {
    width: 460px;
}

.basic-info h1 {
    font-size: 40px;
}

.basic-info p {
    font-size: 30px;
    font-style: italic;
}

.more-info {
    width: 300px;
    font-size: 20px;
    margin-top: 20px;
}

.info {
    width: 300px;
}

.info * {
    height: 20px;
    margin-bottom: 5px;
}

.odd-row {
    background-color: #CECECE;
}

.glyphicon {
    width: 30px;
    font-size: 20px;
    margin-right: 2px;
    margin-left: 5px;
    margin-top: 5px;
}

/* Sections styles start */
.section-title {
    background-color: #7294a2;
    color: #FFFFFF;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 13px;
}

.skill-set {
    display: inline-block;
    vertical-align: top;
}

.skill-set h5 {
    margin-bottom: 8px;
    border-left: solid;
    border-color: #425761;
    padding-left: 5px;
    font-size: 20px;
    color: #425761;
}

.skill-set p {
    padding-left: 8px;
}

.section-entry {
    padding-left: 8px;
}

.section-entry h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    color: #425761;
}

.entry-title h5 {
    border-left: solid;
    border-color: #425761;
    padding-left: 5px;
    font-size: 20px;
    color: #425761;
}

.entry-title a {
    color: #425761;
}

.company {
    padding-left: 0.75rem;
}

.company h4 {
    font-size: 16.5px;
}

.description {
    padding-left: 0.75rem;
}

.about-me-section-icon {
    vertical-align: middle;
}

.contact-info-icon {
    vertical-align: middle;
    padding-right: 5px;
}

.contact-me {
    background-color: #78909c;
    color: #FFFFFF;
}

.contact-me .input-label {
    font-size: 14px;
    color: #FFFFFF;
}

.contact-me input textarea {
    font-size: 14px;
    color: #FFFFFF;
}

.contact-me input[type=text] {
    border-bottom: 1px solid #c9c9c9;
    box-shadow: 0 1px 0 0 #c9c9c9;
}

.contact-me input[type=text]:focus {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
}

.contact-me input[type=text].valid {
    border-bottom: 1px solid #FFFFFF;
    box-shadow: 0 1px 0 0 #FFFFFF;
}

.contact-me input[type=email] {
    border-bottom: 1px solid #c9c9c9;
    box-shadow: 0 1px 0 0 #c9c9c9;
}

.contact-me input[type=email]:focus {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
}

.contact-me input[type=email].invalid {
    border-bottom: 1px solid #ff0429;
    box-shadow: 0 1px 0 0 #ff0429;
}

.contact-me textarea {
    border-bottom: 1px solid #c9c9c9;
    box-shadow: 0 1px 0 0 #c9c9c9;
}

.contact-me textarea.materialize-textarea:focus {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
}



