body {
    background-color: #EEEEEE;
}

/* header styles start*/
.resume ul {
    padding-left: 20px;
}

.resume li {
    font-size: 16px;
    display: list-item;
    list-style-type: circle;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

.resume-header {
    margin-left: 30px;
    margin-right: 20px;
    height: 180px;
}

.resume-header * {
    display: inline-block;
    vertical-align: top;
}

.basic-info {
    width: 460px;
}

.basic-info h1 {
    font-size: 40px;
}

.basic-info p {
    font-size: 30px;
    font-style: italic;
}

.more-info {
    width: 300px;
    font-size: 20px;
    margin-top: 20px;
}

.info {
    width: 300px;
}

.info * {
    height: 20px;
    margin-bottom: 5px;
}

.odd-row {
    background-color: #CECECE;
}

.glyphicon {
    width: 30px;
    font-size: 20px;
    margin-right: 2px;
    margin-left: 5px;
    margin-top: 5px;
}

/* Sections styles start */
.section-title {
    background-color: #646464;
    color: #FFFFFF;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.skill-set {
    display: inline-block;
    vertical-align: top;
}

.skill-set h4 {
    margin-bottom: 8px;
    border-left: solid;
    border-color: #646464;
    padding-left: 5px;
}

.skill-set p {
    padding-left: 8px;
}

.section-entry {
    padding-left: 8px;
}

.section-entry h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.entry-title h4 {
    border-left: solid;
    border-color: #646464;
    padding-left: 5px;
}

.entry-title a {
    color: #323232;
}

.company {
    padding-left: 0.75rem;
}

.company h4 {
    font-size: 16.5px;
}

.description {
    padding-left: 0.75rem;
}

.about-me-section-icon {
    vertical-align: middle;
}

.contact-info-icon {
    vertical-align: middle;
    padding-right: 5px;
}